<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">{TITLE}</h3>
            </div>
            <div>
                <div class="col text-right">
                    <button class="btn btn-outline-danger" onclick="history.back();"><i class="la la-arrow-left"></i>&nbsp;Voltar</button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info" onclick="$('.m-content').find('.submit:first')[0].click();"><i class="la la-save"></i>&nbsp;{botao-txt}</button>
                </div>
    		</div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12 col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                    <div class="tab-content">
                        <div class="tab-pane active" id="form_submit">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-{size_l}">
                                        <input data-name="id"type="hidden"value="{id}"/>
                                    </div>
                                    <label class="col-2 col-form-label">Nome de Usu&aacute;rio</label>
                                    <div class="col-{size_r}">
                                        <input class="form-control m-input" style="text-transform: capitalize;" type="text" data-name="nome" value="{nome}">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-{size_l}">
                                        &nbsp;
                                    </div>
                                    <label class="col-2 col-form-label">Email</label>
                                    <div class="col-{size_r}">
                                        <input class="form-control m-input" type="text" data-name="email" value="{email}">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-{size_l}">
                                        &nbsp;
                                    </div>
                                    <label class="col-2 col-form-label">Senha</label>
                                    <div class="col-{size_r}">
                                        <input class="form-control m-input" type="password" data-name="senha" value="" placeholder="*****">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row"><div class="col-12"><br></div></div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
                                        <div class="col-12"><br>
										</div>
                                        <div class="col-md-4">
										</div>
                                        <div class="col-md-4 text-right">
											<button class="btn btn-info submit btn-block"><i class="la la-save"></i>&nbsp;{botao-txt}</button>
										</div>
                                            <div class="col-12"><br>
    										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script lwdk-addons lwdk-vars="on" src="/js/admin/forms/administrador.js"></script>
