<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
    	<div class="d-flex align-items-center">
    		<div class="mr-auto">
    			<h3 class="m-subheader__title">{TITLE}</h3>
    		</div>
    		<div>
                <div class="col-7 text-right">
                    <button class="btn btn-info" onclick="menu_salvar();"><i class="la la-save"></i>&nbsp;Salvar</button>
                </div>
    		</div>
    	</div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="m-4 text-center"><hr><br>
            <h4>Esta &aacute;rea e destinada a configura&ccedil;&atilde;o do menu de navega&ccedil;&atilde;o do Site</h4>
            <br>
            <h6>Voc&ecirc; pode configurar at&eacute; 12 op&ccedil;&otilde;es de menu. Ao preencher um menu, logo aparecer&aacute; o pr&oacute;ximo campo a ser preenchido.</h6><br>
            <small>LIMITE: 12 OP&Ccedil;&Otilde;ES DE MENU</small><br><br><hr><br>
        <div class="row m-4">
            {t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}{t_opcao}
        </div>
    </div>
</div>

<script lwdk-addons lwdk-vars="on" src="js/admin/forms/menuconf.js"></script>
