<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Painel Principal</h3>
            </div>
            <div></div>
        </div>
    </div>
    <div class="m-content">
        <h1>Seja bem vindo ao painel.</h1>
        <h3>Acesse alguma op&ccedil;&atilde;o ao lado para prosseguir.</h3>
    </div>
</div>
