<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
    	<div class="d-flex align-items-center">
    		<div class="mr-auto">
    			<h3 class="m-subheader__title">Galeria de Videos</h3>
    		</div>
    		<div>
				<div class="col text-right">
					<button class="btn btn-outline-danger" onclick="return Go('home')"><i class="la la-arrow-left"></i>&nbsp;Voltar</button>&nbsp;&nbsp;&nbsp;
                    <a href="/videos/" target=_blank class="btn btn-outline-info"><i class="la la-globe"></i>&nbsp;Visualizar no Site</a>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info" onclick="$('#texto-rotativo').find('.submit:first')[0].click();"><i class="la la-save"></i>&nbsp;Salvar</button>
                </div>
    		</div>
    	</div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
    		<div class="col-xl-12 col-lg-8">
    			<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
    				<div class="tab-content">
    					<div class="tab-pane active" id="texto-rotativo">
    						<div class="m-form m-form--fit m-form--label-align-right">
    							<div class="m-portlet__body">
                                    <div class="row form-group m-form__group repeater-instance">
                                        <div data-repeater-list="" class="col-11 offset-1 row">
                                            <div data-repeater-item="" class="col-6 my-4 py-2 row">
												<div class="col-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="flaticon-layers"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control m-input" placeholder="Categoria" data-option="text" />
                                                    </div>
												</div>
												<button data-repeater-delete="delete" class="m--hide btn btn-outline-danger m-btn m-btn--icon"><i class="la la-trash"></i></button><div class="col-10 my-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-youtube"></i>
                                                            </span>
                                                        </div>
                                                        <textarea type="text" class="form-control m-input" placeholder='<iframe width="560" height="315" src="https://www.youtube.com/embed/4OnAkweNsw0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' data-option="text" rows=6></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <br />
                                            <hr />
                                            <br />
                                        </div>
                                        <div class="col-6 offset-3 text-center">
                                            <div data-repeater-create="" class="btn btn-outline-success btn-sm m-btn m-btn--icon">
                                                <span>
                                                    <i class="la la-plus"></i>
                                                    <span>Adicionar Opção</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
    								<div class="m-form__actions">
    									<div class="row">
    										<div class="col-md-4">
    										</div>
                                            <div class="col-md-4 text-right">
    											<button class="btn btn-info submit btn-block"><i class="la la-save"></i>&nbsp;Salvar</button>
    										</div>
    									</div>
    								</div>
    							</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script lwdk-addons lwdk-vars="on" src="js/admin/forms/repeater.js"></script>
<script lwdk-addons lwdk-vars="on" src="js/admin/forms/texto-rotativo.js"></script>
